@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}
body {
    min-height: 100%;
    background-color: rgb(220, 220, 220);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(182, 182, 182);
    border-radius: 5px;
}

.dark-theme {
    background-color: #3d3d3d;
    color: rgb(238, 238, 238);
}
.darker-theme {
    background-color: #212121;
}
.dark-theme input {
    background-color: #3d3d3d;
}
.code-text {
    color: rgb(133, 133, 133);
}